<%- include("header") -%>
<link rel="stylesheet" href="css/profile.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">OurBank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <h2>Profile</h2>
  <div class="card">
    <div class="card-body">
      <i class="fas fa-user fa-5x"></i>
      <% profile.forEach(function(item){ %>
      <% if (item.name===profilename){%>
      <div class="name">
        <h4>name : <%=  item.name  %></h4>
        <h4>balance : <%=  item.balance  %></h4>
        <h4>contact : <%=  item.contact  %></h4>
      </div>
      <% }%>
      <% })%>
    </div>
  </div>
  <%- include("footer") -%>
